<div ng-layout="column" ng-cloak class="md-inline-form" layout-padding>
  <h2 class="md-title">Edit Job</h2>
  <form name="editJob" ng-submit="vm.updateJob()">
    <div flex="40" layout-padding layout-align="space-between start" id="SiteBody">
      <md-input-container class="md-block" flex="40">
        <label>Job Name</label>
        <input type="text" required name="job_name" ng-model="vm.jobs.job.job_name" />
        <div ng-messages="editJob.job_name.$error">
          <div ng-message="required">Job Name is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex="40">
        <label>Job Title</label>
        <input type="text" required name="title" ng-model="vm.jobs.job.title" />
        <div ng-messages="editJob.title.$error">
          <div ng-message="required">Title is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex="40">
        <label>Company</label>
        <input type="text" required name="company" ng-model="vm.jobs.job.company" />
        <div ng-messages="editJob.company.$error">
          <div ng-message="required">Company is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex="40">
        <label>Description</label>
        <textarea name="description" ng-model="vm.jobs.job.description" rows="3" md-select-on-focus></textarea>
      </md-input-container>
      <md-input-container class="md-block" flex="40">
        <label>Salary</label>
        <input type="text" name="salary" ng-model="vm.jobs.job.salary" />
      </md-input-container>
      <md-input-container class="md-block" flex="40">
        <label>Application URL</label>
        <input type="text" name="url" ng-model="vm.jobs.job.app_url" />
      </md-input-container>
      <md-input-container class="md-block" flex="40">
        <label>Date Found</label>
        <md-datepicker name="date_found" ng-model="vm.jobs.job.date_found" md-open-on-focus></md-datepicker>
        <div ng-messages="editJob.date_found.$error">
          <div ng-message="valid">The entered value is not a valid date.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex="40">
        <label>Date Posted</label>
        <md-datepicker name="date_posted" ng-model="vm.jobs.job.date_posted" md-open-on-focus></md-datepicker>
        <div ng-messages="editJob.date_posted.$error">
          <div ng-message="valid">The entered value is not a valid date.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex="40">
        <label>Status</label>
        <md-select name="status" ng-model="vm.jobs.job.status" required>
          <md-option ng-repeat="status in vm.statuses" ng-value="status.id">{{status.value}}</md-option>
        </md-select>
        <div ng-messages="editJob.status.$error">
          <div ng-message="required">Status is required.</div>
        </div>
      </md-input-container>
      <input type="hidden" ng-model="vm.jobs.job.id" />
      <div>
        <md-button class="md-raised md-primary" type="submit">Update</md-button>
      </div>
    </div>
  </form>
</div>
