<div ng-layout="column" ng-cloak class="md-inline-form" layout-padding>
  <h2 class="md-title">Edit Job</h2>
  <form ng-submit="vm.updateJob()">
    <div flex="80">
      <md-input-container class="md-block" flex-gt-xs>
        <label>Job Name</label>
        <input ng-model="vm.jobs.job.job_name" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <label>Job Title:</label>
        <input ng-model="vm.jobs.job.title" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <label>Company</label>
        <input ng-model="vm.jobs.job.company" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <label>Description</label>
        <textarea ng-model="vm.jobs.job.description" rows="3" md-select-on-focus></textarea>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <label>Salary</label>
        <input ng-model="vm.jobs.job.salary" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <label>Application URL</label>
        <input ng-model="vm.jobs.job.url" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs>
        <label>Status</label>
        <input ng-model="vm.jobs.job.status" />
      </md-input-container>
    </div>
    <div>
      <md-button class="md-raised md-primary" type="submit">Update</md-button>
    </div>
  </form>
</div>
