<div layout-padding>
  <h2 class="md-title">Your Jobs</h2>
  <div layout="row">
    <md-toolbar tall class="md-hue-1">
      <div class="md-toolbar-tools">
        <div flex="20">
          <md-button class="md-raised md-primary" ui-sref="jobs.new">New Job</md-button>
        </div>
        <div flex="20">
          <md-input-container class="md-block"  ng-show="vm.jobs.jobs.length > 0">
            <label>Search Jobs</label>
            <input type="text" ng-model="vm.search" />
          </md-input-container>
        </div>
        <span flex="5"></span>
        <div flex="20">
          <md-input-container class="md-block" ng-show="vm.jobs.jobs.length > 0">
            <label>Status</label>
            <md-select ng-model="vm.jobs.jobs.status">
              <md-option ng-repeat="status in vm.statuses" ng-value="status.id">{{status.value}}</md-option>
            </md-select>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </md-toolbar>
  </div>
  <md-content id="SiteBody" class="md-padding" layout-xs="column" layout="row" layout-wrap>
    <div flex="33" flex-sm="100" ng-repeat="job in vm.jobs.jobs | filter: vm.search | filter: {status: vm.jobs.jobs.status} as jobsFiltered track by job.id">
      <job job-object="job"></job>
    </div>
    <div ng-show="jobsFiltered.length < 1">
      <md-body-3>No Jobs Found.&nbsp;</md-body-3>
    </div>
    <div ng-show="vm.jobs.jobs.length < 1">
      <md-title>Create a New Job to Get Started. </md-title>
    </div>
  </md-content>
</div>
