<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{ jobObject.job_name }}</span>
      <span class="md-subhead">{{ jobObject.title }} @ {{ jobObject.company }}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-primary" ui-sref="jobs.show({id: jobObject.id})">Job {{ jobObject.id }} Details</md-button>
    <md-button class="md-primary" ui-sref="jobs.edit({id: jobObject.id})">Edit Job</md-button>
  </md-card-actions>
</md-card>
