<h2>new job</h2>

<form ng-submit="vm.createJob()">
    Job Name: <input ng-model="vm.newJob.job_name" /><br />
    Job Title: <input ng-model="vm.newJob.title" /><br>
    Company: <input ng-model="vm.newJob.company" /><br>
    Description: <input ng-model="vm.newJob.description" /><br>
    Salary: <input ng-model="vm.newJob.salary" /><br>
    Application URL: <input ng-model="vm.newJob.url" /><br>
    Status: <input ng-model="vm.newJob.status" /><br>
    <input type="submit" value="submit">

</form>
