<div layout-padding id="SiteBody">
  <job-detail job-object="vm.jobs.job"></job-detail>
  <div ng-layout="column" ng-cloak class="md-inline-form" layout-padding ng-controller="NoteController as vm">
    <div class="md-title">Notes</div>
    <md-content flex="80">
      <md-list>
        <md-list-item class="md-w-line" ng-repeat="note in vm.notes.notes track by note.id" layout-paddings>
          <note note-object="note">
        </md-list-item>
        <md-list-item class="md-w-line" layout-padding>
          <div class="md-list-item-text">
            <div class="md-title">Add a Note</div>
            <form ng-submit="vm.createNote()">
              <div flex="100">
                <md-input-container class="md-block">
                  <label>Note</label>
                  <textarea ng-model="vm.newNote.note" rows="3" required></textarea>
                </md-input-container>
                <md-button class="md-raised md-primary" type="submit">Add Note</md-button>
              </div>
            </form>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</div>
