<div layout="row" ng-cloak class="md-inline-form" layout-padding>
    <div flex="60">
      &nbsp;
    </div>
  <div flex="40" layout-align="space-between start" layout-padding id="SiteBody">
    <p>
      <span class="md-title">Login</span><br />
      <span class="md-body-2">Please provide your e-mail address and password to login.</span>
    </p>
    <form name="loginForm" ng-submit="vm.login()">
      <div flex="80">
        <md-input-container class="md-block" flex-gt-xs>
          <label>E-mail Address</label>
          <input type="email" name="email" required ng-model="vm.user.email" />
          <div ng-messages="loginForm.email.$error">
            <div ng-message="required">Email is required.</div>
            <div ng-message="email">E-mail Address is invalid.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Password</label>
          <input type="password" name="password" required ng-model="vm.user.password" minlength="6"/>
          <div ng-messages="loginForm.password.$error">
            <div ng-message="required">Password is required.</div>
            <div ng-message="minlength">Your password must contain at least 6 characters.</div>
          </div>
        </md-input-container>
      </div>
      <div>
        <md-button class="md-raised md-primary" type="submit">Login</md-button>
      </div>
    </form>
  </div>
</div>
