<!DOCTYPE html>
<html>
<head>
  <title>AssessmentJobtracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="app">
  <div layout="row">
  <md-toolbar layout="row" class="md-toolbar-tools">
    <md-button class="menu md-icon-button" hide-gt-sm>
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>Job Tracker</h1>
  </md-toolbar>
    </div>
<div layout="row">
  <div flex>
    <%= yield %>
  </div>

</div>
</md-content>
</body>
</html>
