<!DOCTYPE html>
<html>
<head>
  <title>Track My Calling</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <%= csrf_meta_tags %>
</head>
<body ng-app="app">
  <nav></nav>
    <div md-background-picture layout="row">
      <div flex>
        <%= yield %>
      </div>
    </div>
</body>
</html>
